<div class="row">
  <div class="col-md-4">
  <%= image_tag @podcast.podcast_img.url(:podcast_show), class: "podcast-show" %>
  </div>

<div class="col-md-8">

  <div class="podcast-info">

  <h2 class="podcast-title"><%= @podcast.title %></h2>
  <h3 class="podcast-host"><span>Host: </span><%= @podcast.host %></h3>
  <h2 class="avg-rating">Average Rating</h2>

  <h2 class="average-review-rating" data-score=<%= @average_rating %>></h2>

  <span class="number-of-reviews">Based on <%= @podcast.reviews.count %> reviews</span>
  <p class="podcast-desc"><%= @podcast.description %></p>
  </div>

</div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="reviews">
    <h1>Reviews</h1>
    <%= render @podcast.reviews %>

    <div>
    <%= link_to "Add Review", new_podcast_review_path(@podcast), class: "btn-custom" %>
   </div>

  </div>

</div>

<div class="links btn-group">

  <% if user_signed_in? %>

    <% if @podcast.user_id == current_user.id %>

      <%= link_to "Edit Book", edit_podcast_path(@podcast), class:"btn btn-custom" %>
      <%= link_to "Delete Book", podcast_path(@podcast), method: :delete, data: { confirm: "Are you happy to delete this book?" }, class: "btn btn-custom" %>

    <% end %>

  <% end %>

  <%= link_to "Back", root_path, class: "btn btn-custom" %>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets',
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
