<div class="row">
  <div class="col-md-4">
  <%= image_tag @podcast.podcast_img.url(:podcast_show), class: "podcast-show" %>
  </div>

<div class="col-md-8">
  <h2><%= @podcast.title %></h2>
  <h3><%= @podcast.host %></h3>
  <p><%= @podcast.description %></p>
</div>

</div>

<div class="row">

  <div class="col-md-4">
    <%= render @podcast.reviews %>

  <div>
    <%= link_to "Add Review", new_podcast_review_path(@podcast) %>
  </div>

</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @podcast.user_id == current_user.id %>

  <%= link_to "Edit Podcast", edit_podcast_path(@podcast) %>
  <%= link_to "Delete Podcast", podcast_path(@podcast), method: :delete, data: { confirm: "Are You Sure?" } %>

  <% end %>
<% end %>
